In [1]:
import yfinance as yf

In [2]:
msft = yf.Ticker("MSFT")

# get all stock info (slow)
msft.info

lazy-loading dict with keys = ['currency', 'dayHigh', 'dayLow', 'exchange', 'fiftyDayAverage', 'lastPrice', 'lastVolume', 'marketCap', 'open', 'previousClose', 'quoteType', 'regularMarketPreviousClose', 'shares', 'tenDayAverageVolume', 'threeMonthAverageVolume', 'timezone', 'twoHundredDayAverage', 'yearChange', 'yearHigh', 'yearLow']

In [10]:
hist = msft.history(period="1w",interval="1m")

hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2023-04-06 09:30:00-04:00,283.209991,283.209991,282.420013,282.858887,597015,0.0,0.0
2023-04-06 09:31:00-04:00,282.839996,282.890015,282.589996,282.649994,48517,0.0,0.0
2023-04-06 09:32:00-04:00,282.640015,282.790009,282.339996,282.339996,75156,0.0,0.0
2023-04-06 09:33:00-04:00,282.339996,282.579987,282.320007,282.390015,41338,0.0,0.0
2023-04-06 09:34:00-04:00,282.413605,282.799988,282.413605,282.500000,42499,0.0,0.0
...,...,...,...,...,...,...,...
2023-04-06 15:55:00-04:00,291.084991,291.429993,291.079987,291.407501,271389,0.0,0.0
2023-04-06 15:56:00-04:00,291.410004,291.429993,291.320007,291.380005,164173,0.0,0.0
2023-04-06 15:57:00-04:00,291.369995,291.440002,291.350006,291.420013,172909,0.0,0.0
2023-04-06 15:58:00-04:00,291.415009,291.609985,291.404999,291.500000,292809,0.0,0.0
2023-04-06 15:59:00-04:00,291.500000,291.750000,291.429993,291.570007,710810,0.0,0.0

In [11]:
msft.get_shares_full(start="2022-01-01", end=None)


msft

2022-01-27 00:00:00-05:00    7496869888
2022-02-04 00:00:00-05:00    7800719872
2022-02-05 00:00:00-05:00    7496869888
2022-02-11 00:00:00-05:00    7496869888
2022-03-04 00:00:00-05:00    7605040128
2022-03-05 00:00:00-05:00    7496869888
2022-03-16 00:00:00-04:00    7595310080
2022-03-17 00:00:00-04:00    7496869888
2022-03-28 00:00:00-04:00    7507230208
2022-03-31 00:00:00-04:00    7496869888
2022-04-01 00:00:00-04:00    7631819776
2022-04-02 00:00:00-04:00    7496869888
2022-04-04 00:00:00-04:00    7496869888
2022-04-29 00:00:00-04:00    7479029760
2022-06-09 00:00:00-04:00    7536840192
2022-06-13 00:00:00-04:00    7479029760
2022-07-28 00:00:00-04:00    7464000000
2022-08-01 00:00:00-04:00    7457889792
2022-08-25 00:00:00-04:00    7475469824
2022-08-26 00:00:00-04:00    7457889792
2022-09-01 00:00:00-04:00    7457889792
2022-09-02 00:00:00-04:00    7488540160
2022-09-02 00:00:00-04:00    7457889792
2022-09-10 00:00:00-04:00    7290379776
2022-09-12 00:00:00-04:00    7457889792
2022-09-15 00:00:00-04:00    7451089920
2022-09-15 00:00:00-04:00    7457889792
2022-09-16 00:00:00-04:00    7665780224
2022-09-16 00:00:00-04:00    7457889792
2022-09-17 00:00:00-04:00    7457889792
2022-09-17 00:00:00-04:00    7477389824
2022-10-29 00:00:00-04:00    7454470144
2023-01-04 00:00:00-05:00    7461940224
2023-01-06 00:00:00-05:00    7454470144
2023-01-27 00:00:00-05:00    7443800064
2023-03-08 00:00:00-05:00    7523469824
2023-03-08 00:00:00-05:00    7443800064
2023-03-10 00:00:00-05:00    7443800064
2023-03-10 00:00:00-05:00    7484519936
2023-03-30 00:00:00-04:00    7586610176
2023-04-01 00:00:00-04:00    7443800064
2023-04-01 00:00:00-04:00    7555180032
2023-04-04 00:00:00-04:00    7471529984
2023-04-05 00:00:00-04:00    7443800064
2023-04-06 00:00:00-04:00    7518150144
dtype: int64

In [23]:
from pandas_datareader import data as pdr

import yfinance as yf
yf.pdr_override() # <== that's all it takes :-)

# download dataframe
data = pdr.get_data_yahoo("SPY", start="2021-01-01", end="2021-01-02", interval="1m")

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SPY: 1m data not available for startTime=1609477200 and endTime=1609563600. The requested range must be within the last 30 days.

In [21]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-01-04,375.309998,375.450012,364.820007,368.790009,356.767151,110210800
2021-01-05,368.100006,372.500000,368.049988,371.329987,359.224304,66426200
2021-01-06,369.709991,376.980011,369.119995,373.549988,361.371918,107997700
2021-01-07,376.100006,379.899994,375.910004,379.100006,366.741028,68766800
2021-01-08,380.589996,381.489990,377.100006,381.260010,368.830597,71677200
...,...,...,...,...,...,...
2021-04-23,412.869995,418.250000,412.790009,416.739990,404.474304,73209200
2021-04-26,417.440002,418.220001,416.809998,417.609985,405.318726,52182400
2021-04-27,417.929993,418.140015,416.299988,417.519989,405.231415,51303100
2021-04-28,417.809998,419.010010,416.899994,417.399994,405.114868,51238900
2021-04-29,420.320007,420.720001,416.440002,420.059998,407.696625,78544300